doctype html
html
  head
    meta(charset="UTF-8")
    title Routing
  body
    nav.navbar.navbar-dark.navbar-fixed-top.bg-inverse
      a(href="https://github.com/youkyll/goat").navbar-brand Goat
      #navbar
        nav.nav.navbar-nav.pull-xs-left
          a(href="/").nav-item.nav-link Home
          a(href="/create").nav-item.nav-link Create
          a(href="/marks").nav-item.nav-link Folders
        login
        search
    div.col-lg-12
      #main

    script(src="https://use.fontawesome.com/f75c977d2f.js")
